body{
    color:yellow;
    background-color:blue;
    text-align: center;
    font-family: cursive;
}

a{
    color:yellow;
    border: 2px solid black;
    margin: 2px;
    padding: 2px;
}