body{
    background-color: rgb(220, 253, 241);
    color: salmon;
    text-align: center;
    color:salmon;
    
}
a{
    color: salmon;
    border: 5px solid rgb(0, 0, 0);
    padding: 10px;
    margin: 10px;
    border-radius:10px ;
}
ul{
list-style-position: inside;
}
ol{
list-style-position: inside;  
}
p{
    font-size: 20px; font-family:'Courier New', Courier, monospace;
}
table{
    font-family:'Courier New', Courier, monospace;
}
td,th{
    border: 2px solid black;
    border-radius: 5px;
    padding:5px;
}
tab a{
background-color: coral;
}