body{
    background-color: lightgoldenrodyellow;
    text-align: center;
}
ul{
    list-style-position:inside;
}
p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
li{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
a{
    color:maroon;
    border: 5px solid cornflowerblue;
    padding: 0.1px;
    font-size: 19px;
    margin: 5px;
    border-radius: 10px;
}
.tab a:hover{
    background-color: tomato;
}