p{
    color: rgb(0, 0, 255);
    text-align: center;
}
a{
    color: rgb(16, 139, 0);
    border: 2px solid black;
}
th, td{
    border: 2px solid red;
}
.tab a {
    background-color: rgb(5, 139, 0);

}
.tab a:hover{
    background-color: darkred;
}
p{
    text-align: center;
}
a{
    border: 2px solid red;
}
body{
    text-align: center;
}