body{
    background-color: rgb(82, 206, 193);
    color: white;
    text-align: center;
    font-size: medium;
    font-family: cursive;
}

.tab a:hover{
      background-color: white;
}

.tab a{
    border: 3px solid lightblue;
    padding: 3px;
    margin: 5px;
    border-radius: 5px;
}
ul, ol{
    list-style-position: inside;
}

th, td {
    border: 1px solid white;
    padding: 7px;
}
table{
    margin-left: auto;
    margin-right: auto;
    background-color: turquoise;
}

button{
    background-color: lightgray;
    width: 200px;
    height: 150px;
}