p {
    background-color: beige;      
}
body {
    text-align: left:
        front: times new roman;
}
a  {
    position: relative
        color: purple;
    border: 1px solid purple;
    padding:10px
        text-decoration:noneactivetop: 5px
    
        
}
a:hover{
    background-color: beige;
    Width 200%
}
table{
    background-color: burlywood;
    
}