body{
    background-color: coral;
    color: rgb(4, 4, 10);
    text-align: center;
}

a{
    color: darkblue;
    border: 2px solid black;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
}
ul{
list-style-position:inside;
}
ol{
    list-style-position:inside;
    }
table{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(58, 24, 168);
}
td, th{
    border: 2px solid black;
    padding: 4px;
}
.tab a {
    background-color: chocolate;
}
.tab a:hover{
    background-color: forestgreen;
}